In [50]:
import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
df = pd.read_csv('diabetes_prediction_dataset - Copy.csv')
#print(df.head())

# Define the mapping dictionary for gender values
#gender_mapping = {'Male': 1, 'Female': 0, 'Other': 2}  # Add 'other' if it's one of your gender values
#gender_mapping2 = {'never': 0, 'current': 1, 'current': 2} 

## Map the gender values using the mapping dictionary
#df['gender'] = df['gender'].map(gender_mapping)
#df['smoking_history'] = df['smoking_history'].map(gender_mapping2)

# If you have other values in the gender column or missing values, you might want to handle them accordingly

# Write the modified DataFrame back to a new CSV file
#df.to_csv('modified_file2.csv', index=False)

#alls = pd.read_csv('modified_file2.csv')
#print(alls.head())

In [51]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

transform = encoder.fit_transform(df[['smoking_history']]).toarray()
labels = encoder.categories_

join_rows=np.concatenate(labels)
UpdatedFile = pd.DataFrame(data = transform, columns = join_rows)
UpdatedFile

OpenFile = pd.concat((UpdatedFile, df), axis = 1)

In [52]:
encoder = OneHotEncoder()

transform2 = encoder.fit_transform(df[['gender']]).toarray()
labels = encoder.categories_

join_rows2=np.concatenate(labels)
UpdatedFile2 = pd.DataFrame(data = transform2, columns = join_rows2)
UpdatedFile2

       Female  Male  Other
0         1.0   0.0    0.0
1         1.0   0.0    0.0
2         0.0   1.0    0.0
3         1.0   0.0    0.0
4         0.0   1.0    0.0
...       ...   ...    ...
99995     1.0   0.0    0.0
99996     1.0   0.0    0.0
99997     0.0   1.0    0.0
99998     1.0   0.0    0.0
99999     1.0   0.0    0.0

[100000 rows x 3 columns]

In [53]:
OpenFile = pd.concat((UpdatedFile2, OpenFile), axis = 1)
OpenFile.head()

,Female,Male,Other,No Info,current,ever,former,never,not current,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Female,80.0,0,1,never,25.19,6.6,140,0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Male,28.0,0,0,never,27.32,5.7,158,0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Female,36.0,0,0,current,23.45,5.0,155,0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Male,76.0,1,1,current,20.14,4.8,155,0

In [54]:
OpenFile = OpenFile.drop(['gender'], axis = 1)
OpenFile = OpenFile.drop(['smoking_history'], axis = 1)

,Female,Male,Other,No Info,current,ever,former,never,not current,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,80.0,0,1,25.19,6.6,140,0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,54.0,0,0,27.32,6.6,80,0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,28.0,0,0,27.32,5.7,158,0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,36.0,0,0,23.45,5.0,155,0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,76.0,1,1,20.14,4.8,155,0

In [55]:
OpenFile.to_csv('UpdatedFile.csv', index=False)